.app-container {
  display: flex;
  width: 100vw;
}

.nav-container {
  width: 18%;
  height: 100vh;
}


/* ---  nav component */
.nav-container {
  padding: 38px 32px;
  background: #1D1042;
}

.nav-1 {
  border-bottom: 1px solid rgb(237, 237, 237);
}

/* --- sub heading */
.nav-1 p {
  width: 208px;
  height: 46px;
  color: #fff;
  background: #45269C;
}
.nav-1 p::before {
  content: url(./assets/Nav/Lightning.svg);
  position: absolute;
  left: 12%;
  top: 25%;
}

/* --- nav */
.nav-1 ul {
  margin-top: 5px;
  margin-left: 15%;
}
.nav-1 li {
  margin: 17% 0;
  font-weight: 500;
  font-size: 14px;
}

/* --- second nav */
.nav-2 {
  width: 100%;
  height: 100%;
  margin-top: 10%;
}
.nav-2 ul li {
  opacity: 0.6;
  margin: 5% 0 10% 13%;
}

/* -- CTO button */
.nav-2 button {
  width: 208px;
  height: 54px;
  color: #fff;
  background: #703EFE;
}

/* --- For the nan icons */
.nav-container li {
  position: relative;
}
.nav-container li::before {
  content: url(./assets/Nav/Nav1.svg);
  position: absolute;
  top: 0;
  left: -15%;
}
.settings::before {
  content: url(./assets/Nav/Nav2.svg);
}
.activities::before {
  content: url(./assets/Nav/Nav3.svg);
}
.users::before {
  content: url(./assets/Nav/Nav4.svg);
}
.added::before {
  content: url(./assets/Nav/Nav5.svg);
}
.affiliate::before {
  content: url(./assets/Nav/Nav6.svg);
}
.profile::before {
  content: url(./assets/Nav/Nav7.svg);
}
.logout::before {
  content: url(./assets/Nav/Nav4.svg);
}

.nav-2 button::before {
  content: url(./assets/Nav/Plus.svg);
  position: absolute;
  top: 30%;
  left: 10%;
}



/* ----- body component */
.body-container {
  width: 90%;
  height: 100vh;
  
}

.body-hero {
  box-shadow: 0px 4px 148px rgba(0, 0, 0, 0.04);
  padding-bottom: 3%;
  padding: 3% 7%;
}

.sub-heading-text {
  color: #B8B9BD;
  margin-top: 3%;
}
.hero-heading button {
  width: 160px;
  height: 41px;

  color: #fff;
  background: #000000;
  border-radius: 8px;
  margin-top: 2%;
}


.hero-heading-nav {
  margin-top: 6%;
}
.hero-heading-nav p {
  font-size: 14px;
  color: rgba(184, 185, 189, 1);
  padding-left: 9%;
  position: relative;
}
.hero-heading-nav p::before {
  content: url(./assets/Hero-Nav/users.svg);
  position: absolute;
  top: -20%;
  left: 0;
}
.hero-heading-nav ul {
  width: 60%;
}
.hero-heading-nav li {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  color: rgba(125, 128, 136, 1);
}
.hero-heading-nav li:not(:last-child):before {
  content: url(./assets/Hero-Nav/nav1.svg);
  position: absolute;
  left: -25px;
  top: 7%;
}
.hero-heading-nav li:nth-child(2):before {
  content: url(./assets/Hero-Nav/nav2.svg);
}
.hero-heading-nav li:nth-child(3):before {
  content: url(./assets/Hero-Nav/nav2.svg);
}
.hero-heading-nav li:nth-child(4):before {
  content: url(./assets/Hero-Nav/nav4.svg);
}


.body {
  background: #FCFBFC;
}



/* .MuiTypography-caption {
  color: #000;
  font-weight: 500;
} */

.MuiTypography-subtitle1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  color: #000000;
}




/* .MuiSlider-thumb {
  background-color: orange;
  box-shadow: none;
  width: 0px;
  height: 0px;
}

.MuiSlider-rail {
  background-color: orange;
  border: none;
}



.MuiSlider-rail {
  background-color: green;
}

.MuiSlider-track {
  background-color: red;
  border: none;
}

.MuiSlider-thumb {
  display: none;
}
.MuiSlider-thumb:is(:hover, .Mui-active) {
  display: none;
}

.MuiSlider-colorPrimary {
  color: #B8B9BD;
}
.MuiSlider-colorSecondary {
  color: #000;
} */