/* ---- body layout */
.app-container {
  display: flex;
  width: 100vw;
}

.nav-container {
  width: 19%;
}

.body-container {
  width: 90%; 
}

/* ---  nav component */
.nav-container {
  padding: 38px 32px;
  background: #1D1042;
}

.nav-1 {
  width: 100%;
  padding-bottom: 6%;
  border-bottom: 1px solid rgb(237, 237, 237);
}

/* --- sub heading */
.nav-1 p {
  width: 100%;
  height: 46px;
  color: #fff;
  padding-left: 10%;
  background: #45269C;
  font-size: 1rem;
}
.nav-1 p::before {
  content: url(./assets/Nav/Lightning.svg);
  position: absolute;
  left: 20px;
  top: 25%;
  width: auto;
}

/* --- nav */
.nav-1 ul {
  margin-top: 45px;
  margin-left: 15%;
}
.nav-1 li {
  margin: 18% 0;
  font-size: 0.88rem;
}

/* --- second nav */
.nav-2 {
  width: 100%;
  height: 100%;
  margin-top: 20%;
}
.nav-2 ul li {
  opacity: 0.6;
  font-size: 0.88rem;
  margin: 5% 0 13% 15%;
}

/* -- CTO button */
.nav-2 button {
  width: 100%;
  height: 54px;
  color: #fff;
  background: #703EFE;
  padding-left: 10%;
}

/* --- For the nav icons */
.nav-container li {
  position: relative;
}
.nav-container li::before {
  position: absolute;
  top: 5%;
  left: -25px;
  zoom: 100%;
}
.dashboard::before {
  content: url(./assets/Nav/Nav1.svg);
}
.settings::before {
  content: url(./assets/Nav/Nav2.svg);
}
.activities::before {
  content: url(./assets/Nav/Nav3.svg);
}
.users::before {
  content: url(./assets/Nav/Nav4.svg);
}
.added::before {
  content: url(./assets/Nav/Nav5.svg);
}
.affiliate::before {
  content: url(./assets/Nav/Nav6.svg);
}
.profile::before {
  content: url(./assets/Nav/Nav7.svg);
}
.logout::before {
  content: url(./assets/Nav/Nav4.svg);
}

.nav-2 button::before {
  content: url(./assets/Nav/Plus.svg);
  position: absolute;
  top: 30%;
  left: 12%;
}



/* ----- body component */

.body-hero {
  box-shadow: 0px 4px 148px rgba(0, 0, 0, 0.04);
  padding-bottom: 3%;
  padding: 3% 7%;
}

.sub-heading-text {
  color: #B8B9BD;
  margin-top: 2%;
}
.hero-heading button {
  width: 160px;
  height: 41px;

  color: #fff;
  background: #000000;
  border-radius: 8px;
  margin-top: 2%;
  font-size: 14px;
}

/* the van of the heading of the hero */
.hero-heading-nav {
  margin-top: 6%;
}
/* (8  members) */
.hero-heading-nav p {
  font-size: 14px;
  color: rgba(184, 185, 189, 1);
  padding-left: 9%;
  position: relative;
}
.hero-heading-nav p::before {
  content: url(./assets/Hero-Nav/users.svg);
  position: absolute;
  top: -20%;
  left: 0;
}

/* the right part of the hero (participant view, board view ...) */
.hero-heading-nav ul {
  width: 60%;
}
.hero-heading-nav li {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  color: rgba(125, 128, 136, 1);
}
/* setting each of the icons */
.hero-heading-nav li:not(:last-child):before {
  content: url(./assets/Hero-Nav/nav1.svg);
  position: absolute;
  left: -25px;
  top: 7%;
}
.hero-heading-nav li:nth-child(2):before {
  content: url(./assets/Hero-Nav/nav2.svg);
}
.hero-heading-nav li:nth-child(3):before {
  content: url(./assets/Hero-Nav/nav2.svg);
}
.hero-heading-nav li:nth-child(4):before {
  content: url(./assets/Hero-Nav/nav4.svg);
}

/* the body */
.body {
  background: #FCFBFC;
  padding: 3% 5%;
}
/* the first text in the card */
.MuiTypography-subtitle1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

/* styling of the slider component */

/* --hides the thumb */
.slider .MuiSlider-thumb {
  display: none;
}
/* --sets the default color of the slider */
.MuiSlider-rail {
  color: #EBEBEB;
}

/* the cards */ 
.card {
  width: 100%;
  height: 100%;
  min-width: 266.67;
  max-width: 480;
  max-height: 346;
  margin: 0 2%;
}

.card .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;

  /* width: 266.67px; */
  height: 51px;

  color: rgba(133, 138, 147, 1);
  background: #F4F6F8;
  border-radius: 8px;
  
  font-family: 'Inter';
  font-weight: 500;
  position: relative;
}

.heading::after {
  content: '3';
  position: absolute;
  right: 5%;
  font-weight: 500;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;

  color: #fff;
  background: #000000;
  border-radius: 4px;
}
/* -- second and third heading numbers */
.inprogress::after {
  content: '2';
}
.completed::after {
  content: '1';
}

/* the cta button */
.card button {
  background: #F2F4F5;
  border: 1px dashed #D5D5D5;
  border-radius: 12px;
  height: 48px;


  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #7D8088;
}

.card button img {
  width: 24px;
  height: 24px;
}