.app-container {
  display: flex;
  width: 100vw;
}

.nav-container {
  width: 18%;
  height: 100vh;
}

.body-container {
  width: 80%;
  height: 100vh;
}


/* ---  nav component */
.nav-container {
  padding: 38px 32px;
  background: #1D1042;
}

.nav-1 {
  border-bottom: 1px solid rgb(237, 237, 237);
}

/* --- sub heading */
.nav-1 p {
  width: 208px;
  height: 46px;
  color: #fff;
  background: #45269C;
}
.nav-1 p::before {
  content: url(./assets/Nav/Lightning.svg);
  position: absolute;
  left: 12%;
  top: 25%;
}

/* --- nav */
.nav-1 ul {
  margin-top: 5px;
  margin-left: 15%;
}
.nav-1 li {
  margin: 17% 0;
  font-weight: 500;
  font-size: 14px;
}

/* --- second nav */
.nav-2 {
  width: 100%;
  height: 100%;
  margin-top: 10%;
}
.nav-2 ul li {
  opacity: 0.6;
  margin: 5% 0 10% 13%;
}

/* -- CTO button */
.nav-2 button {
  width: 208px;
  height: 54px;
  color: #fff;
  background: #703EFE;
}

/* --- For the nan icons */
li {
  position: relative;
  cursor: pointer;
}
li::before {
  content: url(./assets/Nav/Nav1.svg);
  position: absolute;
  top: 0;
  left: -15%;
}
.settings::before {
  content: url(./assets/Nav/Nav2.svg);
}
.activities::before {
  content: url(./assets/Nav/Nav3.svg);
}
.users::before {
  content: url(./assets/Nav/Nav4.svg);
}
.added::before {
  content: url(./assets/Nav/Nav5.svg);
}
.affiliate::before {
  content: url(./assets/Nav/Nav6.svg);
}
.profile::before {
  content: url(./assets/Nav/Nav7.svg);
}
.logout::before {
  content: url(./assets/Nav/Nav4.svg);
}

.nav-2 button::before {
  content: url(./assets/Nav/Plus.svg);
  position: absolute;
  top: 30%;
  left: 10%;
}