@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  color: #fff;
  list-style-type: none;
  cursor: pointer;
}

body {
  @apply font-sans;
  overflow-x: hidden;
  font-family: 'Inter';
}

body::-webkit-scrollbar {
  display: none;
}